services:
  web:
    build: ./nginx
    container_name: pong-nginx
    ports:
      - "8443:443"
    volumes:
      - ./app:/var/www/html
      - ./data:/data
    depends_on:
      - php
    restart: unless-stopped

  php:
    build: ./php
    container_name: pong-php
    volumes:
      - ./app:/var/www/html
      - ./data:/data
    restart: unless-stopped

